.aboutme {
    font-size: 30px;
  color:  #4aaaa5;
}

.name {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 30px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    display: inline-block;
    border-bottom: 5px;
  border-bottom-color: #666666;
 
  }

  .headbar {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #ffffff;
    padding: 0 120px 0 120px;
    border-bottom: 5px;
    border-bottom-color: #666666;
  }
html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
    
  }
  
  .push {
    height: 50px;
  }

  .card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.body-card {
align-content: center;
}

.footer {
    text-align: center;
    padding: 0 0 20px 0;
}